<header class="blog-header lh-1 py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <a class="btn btn-sm btn-secondary" href="{{ '/feed.xml' | absolute_url }}">
        <i class="fa-solid fa-rss"></i> RSS Feed
      </a>
      <a class="btn btn-sm btn-primary">
        <i class="fa-solid fa-right-to-bracket"></i> Login
      </a>
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo text-body-emphasis" href="{{ '/' | absolute_url }}">
        {{site.title}}
      </a>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <p class="badge bg-secondary"><span class="float-end fw-bold">בס״ד</span></p>
    </div>
  </div>
</header>