<!DOCTYPE html>
<html lang="en">
  <head>

    {% include head.html %}

  </head>
  <body class="bg-secondary-subtle">
    
    <div class="container">
      {% include header.html %}

      <div class="nav-scroller py-1 mb-2">
        {% include topnav.html %}
      </div>
    </div>

    <main class="container">

      <div class="row g-5">
        <div class="col-md-8 bg-white p-3 border border-secondary-subtle rounded">
          {{content}}
        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            {% include sidebar/about.html %}
            
            {% include sidebar/ads.html %}

            {% include sidebar/archive.html %}

            {% include sidebar/internal_links.html %}
          </div>
        </div>
      </div>

    </main>

    {% include footer.html %}


    
  </body>
</html>