<!DOCTYPE html>
<html lang="en">
  <head>

    {% include head.html %}

  </head>
  <body class="bg-secondary-subtle">
    
    <div class="container">
      {% include header.html %}

      <div class="nav-scroller py-1 mb-2">
        {% include topnav.html %}
      </div>
    </div>

    <main class="container">

      {% include features/top.html %}

      <div class="row mb-2">
        {% include features/left.html %}
        {% include features/right.html %}
      </div>

      <div class="row g-5">
        <div class="col-md-8">
          {{content}}

          <!--<nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
          </nav>-->

        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            {% include sidebar/about.html %}

            {% include sidebar/podcast.html %}
            
            {% include sidebar/ads.html %}

            {% include sidebar/quote.html %}

            {% include sidebar/internal_links.html %}
          </div>
        </div>
      </div>

    </main>

    {% include footer.html %}


    
  </body>
</html>
