<div class="p-4 mb-3 bg-body-tertiary border border-secondary-subtle rounded">
  <sup class="float-end">About Us</sup>
  <h4 class="fst-italic">{{site.title}}</h4>
  <hr class="col-9" />
  <p>
    There will be a <a href="{{ '/subscriptions' | absolute_url }}" class="fw-bold text-decoration-none">subscription service</a> for users who can afford it and can contribute to this site. A portion of those subscription funds will be given in tzedakah to a jewish charity.
  </p>
  <p></p>
  <p class="alert alert-warning" style="font-size: smaller;">
    You can read more in the <a class="fw-bold text-decoration-none" href="{{ '/about' | absolute_url }}">about</a> page and contact the editor for an account.
  </p>
</div>