<div class="p-4 mb-3 bg-body-tertiary border border-secondary-subtle rounded">
  <h4 class="fst-italic">Socialize</h4>
  <hr class="col-9" />
  <div class="text-center">
    <a href="https://discord.gg/{{site.social.invite_link}}" target="_blank">
      <i class="fa-brands fa-discord"></i> Discuss
    </a> &nbsp;
  
    <a href="https://twitter.com/{{site.social.twitter}}" target="_blank">
      <i class="fa-brands fa-twitter"></i> Follow
    </a> &nbsp;
  
    <a href="mailto:{{site.social.email}}" target="_blank">
      <i class="fa fa-envelope"></i> Email
    </a>
  </div>
</div>